<div ng-show="loading">
  <center><i>loading...</i><br>
    <lx-progress type="linear" color="#00AA00" ng-if="showLinearProgress"></lx-progress></center>
</div>

<div ng-show="!loading">
    <div flex-container="row" >
        <div flex-item>
            <div class="card m+">
          <div class="toolbar">
            <div class="toolbar__left mr+++">
                <button class="btn btn--l btn--white btn--icon" lx-ripple>
                    <i class="mdi mdi-menu"></i>
                </button>
            </div>
            <span class="toolbar__label fs-title m0 tc-white-2">Services</span>
          </div>
              <div class="list m0">
                <li class="list-divider list-divider--is-pushed"></li>
                  <ul class="list m0">
                      <li class="list-row list-row--has-separator btn--white btn--flat data-table__clickable-row" lx-ripple>
                          <div class="list-row__primary">
                              <i class="icon icon--l icon--{{SessionsLogoncolor}} icon--circled mdi mdi-{{SessionsLogonemo}}"></i>
                          </div>
                          <div class="list-row__content">
                              <span class="display-block">Sessions Logon</span>
                              <span class="display-block fs-body-1 tc-white-2">{{SessionsLogon}}</span>
                          </div>
                      </li>
                      <li class="list-row list-row--has-separator btn--white btn--flat data-table__clickable-row" lx-ripple>
                          <div class="list-row__primary">
                              <i class="icon icon--l icon--{{SteamCommunitycolor}} icon--circled mdi mdi-{{SteamCommunityemo}}"></i>
                          </div>

                          <div class="list-row__content">
                              <span class="display-block">Steam Community</span>
                              <span class="display-block fs-body-1 tc-white-2">{{SteamCommunity}}</span>
                          </div>
                      </li>
                      <li class="list-row list-row--has-separator btn--white btn--flat data-table__clickable-row" lx-ripple>
                          <div class="list-row__primary">
                              <i class="icon icon--l icon--{{IEconItemscolor}} icon--circled mdi mdi-{{IEconItemsemo}}"></i>
                          </div>

                          <div class="list-row__content">
                              <span class="display-block">IEconItems</span>
                              <span class="display-block fs-body-1 tc-white-2">{{IEconItems}}</span>
                          </div>
                      </li>
                      <li class="list-row list-row--has-separator btn--white btn--flat data-table__clickable-row" lx-ripple>
                          <div class="list-row__primary">
                              <i class="icon icon--l icon--{{Leaderboardscolor}} icon--circled mdi mdi-{{Leaderboardsemo}}"></i>
                          </div>

                          <div class="list-row__content">
                              <span class="display-block">Leaderboards {{Leaderboards}}</span>
                              <span class="display-block fs-body-1 tc-white-2">{{Leaderboards}}</span>
                          </div>
                      </li>
                  </ul>
              </div>
            </div>

        <br>
            <div class="card m+">
                    <div class="toolbar">
                      <div class="toolbar__left mr+++">
                          <button class="btn btn--l btn--white btn--icon" lx-ripple>
                              <i class="mdi mdi-menu"></i>
                          </button>
                      </div>
                      <span class="toolbar__label fs-title tc-white-2">Matchmaking</span>
                    </div>

                        <div class="list m0">
                          <li class="list-divider list-divider--is-pushed"></li>
                            <ul class="list m0">
                                <li class="list-row list-row--has-separator btn--white btn--flat data-table__clickable-row" lx-ripple>
                                    <div class="list-row__primary">
                                        <i class="icon icon--l icon--{{schedulercolor}} icon--circled mdi mdi-{{scheduleremo}}"></i>
                                    </div>
                                    <div class="list-row__content">
                                        <span class="display-block">scheduler</span>
                                        <span class="display-block fs-body-1 tc-white-2">{{scheduler}}</span>
                                    </div>
                                </li>
                                <li class="list-row list-row--has-separator btn--white btn--flat data-table__clickable-row" lx-ripple>
                                    <div class="list-row__primary">
                                        <i class="icon icon--l icon--{{online_serverscolor}} icon--circled mdi mdi-{{online_serversemo}}"></i>
                                    </div>

                                    <div class="list-row__content">
                                        <span class="display-block">online servers</span>
                                        <span class="display-block fs-body-1 tc-white-2">{{online_servers}}</span>
                                    </div>
                                </li>
                                <li class="list-row list-row--has-separator btn--white btn--flat data-table__clickable-row" lx-ripple>
                                    <div class="list-row__primary">
                                        <i class="icon icon--l icon--{{online_playerscolor}} icon--circled mdi mdi-{{online_playersemo}}"></i>
                                    </div>

                                    <div class="list-row__content">
                                        <span class="display-block">online players</span>
                                        <span class="display-block fs-body-1 tc-white-2">{{online_players}}</span>
                                    </div>
                                </li>
                                <li class="list-row list-row--has-separator btn--white btn--flat data-table__clickable-row" lx-ripple>
                                    <div class="list-row__primary">
                                        <i class="icon icon--l icon--{{searching_playerscolor}} icon--circled mdi mdi-{{searching_playersemo}}"></i>
                                    </div>

                                    <div class="list-row__content">
                                        <span class="display-block">searching players</span>
                                        <span class="display-block fs-body-1 tc-white-2">{{searching_players}}</span>
                                    </div>
                                </li>
                                <li class="list-row list-row--has-separator btn--white btn--flat data-table__clickable-row" lx-ripple>
                                    <div class="list-row__primary">
                                        <i class="icon icon--l icon--{{search_seconds_avgcolor}} icon--circled mdi mdi-{{search_seconds_avgemo}}"></i>
                                    </div>

                                    <div class="list-row__content">
                                        <span class="display-block">search seconds avg</span>
                                        <span class="display-block fs-body-1 tc-white-2">{{search_seconds_avg}}</span>
                                    </div>
                                </li>
                            </ul>
                        </div>
                      </div>
                      <br>
                  </div>
                  <div flex-item>
                      <div class="card m+">
                              <div class="toolbar">
                                <div class="toolbar__left mr+++">
                                    <button class="btn btn--l btn--white btn--icon" lx-ripple>
                                        <i class="mdi mdi-menu"></i>
                                    </button>
                                </div>
                                <span class="toolbar__label fs-title tc-white-2">Datacenters</span>
                              </div>
                                  <div class="list m0">
                                    <li class="list-divider list-divider--is-pushed"></li>
                                      <ul class="list m0">
                                          <li class="list-row list-row--has-separator btn--white btn--flat data-table__clickable-row" lx-ripple>
                                              <div class="list-row__primary">
                                                  <i class="icon icon--l icon--{{datacentersEUWestloadcolor}} icon--circled mdi mdi-{{datacentersEUWestloademo}}"></i>
                                              </div>
                                              <div class="list-row__content">
                                                  <span class="display-block">EU West</span>
                                                  <span class="display-block fs-body-1 tc-white-2">capacity: {{datacentersEUWestcapacity}}<br>load: {{datacentersEUWestload}}</span>
                                              </div>
                                          </li>
                                          <li class="list-row list-row--has-separator btn--white btn--flat data-table__clickable-row" lx-ripple>
                                              <div class="list-row__primary">
                                                <i class="icon icon--l icon--{{datacentersEUEastloadcolor}} icon--circled mdi mdi-{{datacentersEUEastloademo}}"></i>
                                              </div>

                                              <div class="list-row__content">
                                                <span class="display-block">EU East</span>
                                                <span class="display-block fs-body-1 tc-white-2">capacity: {{datacentersEUEastcapacity}}<br>load: {{datacentersEUEastload}}</span>
                                              </div>
                                          </li>
                                          <li class="list-row list-row--has-separator btn--white btn--flat data-table__clickable-row" lx-ripple>
                                              <div class="list-row__primary">
                                                <i class="icon icon--l icon--{{datacentersEUEastloadcolor}} icon--circled mdi mdi-{{datacentersEUEastloademo}}"></i>
                                              </div>

                                              <div class="list-row__content">
                                                <span class="display-block">US Southwest</span>
                                                <span class="display-block fs-body-1 tc-white-2">capacity: {{datacentersUSSouthwestcapacity}}<br>load: {{datacentersUSSouthwestload}}</span>
                                              </div>
                                          </li>
                                          <li class="list-row list-row--has-separator btn--white btn--flat data-table__clickable-row" lx-ripple>
                                              <div class="list-row__primary">
                                                <i class="icon icon--l icon--{{datacentersIndialoadcolor}} icon--circled mdi mdi-{{datacentersIndialoademo}}"></i>
                                              </div>

                                              <div class="list-row__content">
                                                <span class="display-block">India</span>
                                                <span class="display-block fs-body-1 tc-white-2">capacity: {{datacentersIndiacapacity}}<br>load: {{datacentersIndiaload}}</span>
                                              </div>
                                          </li>
                                          <li class="list-row list-row--has-separator btn--white btn--flat data-table__clickable-row" lx-ripple>
                                              <div class="list-row__primary">
                                                <i class="icon icon--l icon--{{datacentersEUNorthloadcolor}} icon--circled mdi mdi-{{datacentersEUNorthloademo}}"></i>
                                              </div>

                                              <div class="list-row__content">
                                                <span class="display-block">EU North</span>
                                                <span class="display-block fs-body-1 tc-white-2">capacity: {{datacentersEUNorthcapacity}}<br>load: {{datacentersEUNorthload}}</span>
                                              </div>
                                          </li>
                                          <li class="list-row list-row--has-separator btn--white btn--flat data-table__clickable-row" lx-ripple>
                                              <div class="list-row__primary">
                                                <i class="icon icon--l icon--{{datacentersEmiratesloadcolor}} icon--circled mdi mdi-{{datacentersEmiratesloademo}}"></i>
                                              </div>

                                              <div class="list-row__content">
                                                <span class="display-block">Emirates</span>
                                                <span class="display-block fs-body-1 tc-white-2">capacity: {{datacentersEmiratescapacity}}<br>load: {{datacentersEmiratesload}}</span>
                                              </div>
                                          </li>
                                          <li class="list-row list-row--has-separator btn--white btn--flat data-table__clickable-row" lx-ripple>
                                              <div class="list-row__primary">
                                                <i class="icon icon--l icon--{{datacentersUSNorthwestloadcolor}} icon--circled mdi mdi-{{datacentersUSNorthwestloademo}}"></i>
                                              </div>

                                              <div class="list-row__content">
                                                <span class="display-block">US Northwest</span>
                                                <span class="display-block fs-body-1 tc-white-2">capacity: {{datacentersUSNorthwestcapacity}}<br>load: {{datacentersUSNorthwestload}}</span>
                                              </div>
                                          </li>
                                          <li class="list-row list-row--has-separator btn--white btn--flat data-table__clickable-row" lx-ripple>
                                              <div class="list-row__primary">
                                                <i class="icon icon--l icon--{{datacentersSouthAfricaloadcolor}} icon--circled mdi mdi-{{datacentersSouthAfricaloademo}}"></i>
                                              </div>

                                              <div class="list-row__content">
                                                <span class="display-block">South Africa</span>
                                                <span class="display-block fs-body-1 tc-white-2">capacity: {{datacentersSouthAfricacapacity}}<br>load: {{datacentersSouthAfricaload}}</span>
                                              </div>
                                          </li>
                                          <li class="list-row list-row--has-separator btn--white btn--flat data-table__clickable-row" lx-ripple>
                                              <div class="list-row__primary">
                                                <i class="icon icon--l icon--{{datacentersBrazilloadcolor}} icon--circled mdi mdi-{{datacentersBrazilloademo}}"></i>
                                              </div>

                                              <div class="list-row__content">
                                                <span class="display-block">Brazil</span>
                                                <span class="display-block fs-body-1 tc-white-2">capacity: {{datacentersBrazilcapacity}}<br>load: {{datacentersBrazilload}}</span>
                                              </div>
                                          </li>
                                          <li class="list-row list-row--has-separator btn--white btn--flat data-table__clickable-row" lx-ripple>
                                              <div class="list-row__primary">
                                                <i class="icon icon--l icon--{{datacentersUSNortheastloadcolor}} icon--circled mdi mdi-{{datacentersUSNortheastloademo}}"></i>
                                              </div>

                                              <div class="list-row__content">
                                                <span class="display-block">US Northeast</span>
                                                <span class="display-block fs-body-1 tc-white-2">capacity: {{datacentersUSNortheastcapacity}}<br>load: {{datacentersUSNortheastload}}</span>
                                              </div>
                                          </li>
                                          <li class="list-row list-row--has-separator btn--white btn--flat data-table__clickable-row" lx-ripple>
                                              <div class="list-row__primary">
                                                <i class="icon icon--l icon--{{datacentersSingaporeloadcolor}} icon--circled mdi mdi-{{datacentersSingaporeloademo}}"></i>
                                              </div>

                                              <div class="list-row__content">
                                                <span class="display-block">Singapore</span>
                                                <span class="display-block fs-body-1 tc-white-2">capacity: {{datacentersSingaporecapacity}}<br>load: {{datacentersSingaporeload}}</span>
                                              </div>
                                          </li>
                                          <li class="list-row list-row--has-separator btn--white btn--flat data-table__clickable-row" lx-ripple>
                                              <div class="list-row__primary">
                                                <i class="icon icon--l icon--{{datacentersAustralialoadcolor}} icon--circled mdi mdi-{{datacentersAustralialoademo}}"></i>
                                              </div>

                                              <div class="list-row__content">
                                                <span class="display-block">Australia</span>
                                                <span class="display-block fs-body-1 tc-white-2">capacity: {{datacentersAustraliacapacity}}<br>load: {{datacentersAustraliaload}}</span>
                                              </div>
                                          </li>

                                      </ul>
                                  </div>
                                </div>
                            </div>
                          </div>
      <br><div class="list-divider list-divider--is-pushed m0"></div><center>
      <button class="btn btn--m btn--white btn--flat" ng-click="alert()" lx-ripple><span class="fs-caption display-block">donate</span></button><button class="btn btn--m btn--white btn--flat" ng-click="GotoLink('https://github.com/spddl/stats.spddl.de')" lx-ripple><span class="fs-caption display-block">github</span></button><br>
      <button class="btn btn--m btn--white btn--flat" ng-click="GotoLink('http://steampowered.com')" lx-ripple><span class="fs-caption display-block">Powered by Steam</span></button>
      </center></div>
